[Unit]
Description=Media server
After=vconf-setup.service

[Service]
Type=simple
ExecStart=/usr/bin/media-server
Restart=always
RestartSec=0
MemoryLimit=100M
User=system
Group=system
SmackProcessLabel=media-server

[Install]
WantedBy=multi-user.target
